{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}   
<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">

    <div id="slice" class="offset-1 col-10 list-div">    
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">

            {{ form|crispy }}
        </form>    

        <button class="button" type="submit">Registrar</button>

        <div>
            <p style="font-size: 12px;">Já possui uma conta? <a class="helpUser" href="../login/">Clique aqui</a></p>
        </div>
    </div>
{% endblock %}
